/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), url(https://fonts.gstatic.com/s/sourceserifpro/v5/yd5lDMt8Sva2PE17yiLarEx5mkwPDa2CKboOHRYrmUg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Universal Styles */

html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.logo-name span:last-child,
.menu a,
.banner p,
.main-article blockquote,
.main-article p,
.campus-info p,
.course p,
.main-exhibit blockquote,
.more-exhibits p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.menu a,
.main-article p {
  font-style: italic;
}

.logo-name span:first-child,
.call-to-action a,
.campus-info a,
.course h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.banner h1,
.main-article h3,
.campus-info h4,
.courses-desktop h2,
.courses-mobile h2,
.course h3,
.course-mobile a,
.thesis-exhibits-desktop h2,
.thesis-exhibits-mobile h2,
.main-exhibit h3,
.more-exhibits h4,
footer {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}

.courses-desktop h2 a:hover,
.courses-mobile h2 a:hover,
.campus-info a:hover,
.main-article h3 a:hover,
.footer-links a:hover,
.course h3 a:hover,
.thesis-exhibits-desktop h2 a:hover,
.thesis-exhibits-mobile h2 a:hover,
.main-exhibit h3 a:hover,
.more-exhibits h4 a:hover {
  text-decoration: underline;
}

.logo-name span:last-child,
.menu a,
.banner h1,
.call-to-action a:active,
h3,
.campus-info h4,
.courses-desktop h2,
.courses-mobile h2,
.course-mobile a,
.thesis-exhibits-desktop h2,
.thesis-exhibits-mobile h2,
.more-exhibits h4 {
  color: #5A38A3;
}

.logo-name span:first-child,
.menu a:hover,
.campus-info a,
.course h4 {
  color: #2AD142;
}

.banner p,
blockquote,
.information p,
.course p,
.more-exhibits p,
footer,
.footer-links a {
  color: #241B38;
}

.call-to-action a {
  color: #FFFFFF;
}

section:nth-of-type(-2n + 3),
#guest-lecture,
#fisma {
  background-color: #EDE9F7;
}

.header-desktop,
.course,
.banner .call-to-action a:active {
   background-color: #FFFFFF;
 }

 .menu div,
 .call-to-action a {
   background-color: #2AD142;
 }

section,
footer {
  position: relative;
  top: 4rem;
}

.menu,
.banner,
.information,
.exhibits,
.exhibit,
.footer-links {
  display: flex;
}

.logo-name,
.menu a,
.campus-info {
  display: flex;
  align-items: center;
}

.call-to-action,
.info-text,
.exhibit-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-desktop,
footer {
  display: flex;
  justify-content: space-between;
}

.header-desktop,
.call-to-action a,
.main-article .image-container,
.exhibit {
  width: 100%;
}

.banner img,
.main-article,
.main-exhibit {
  width: 60%;
}

.events-campuses,
.more-exhibits {
  width: 40%;
}

.logo-name,
.menu,
.banner,
.main-article,
.campus-info,
.course,
.main-exhibit,
footer {
  font-size: 1rem;
}

.campus-info .image-container,
.course,
.more-exhibits .image-container {
  padding: 1rem;
}

a {
  color: #5A38A3;
  text-decoration: none;
}

.image-container,
.video-container {
  display: inline-flex;
  font-size: 0;
  vertical-align: bottom;
}

.image-container img,
video {
  width: 100%;
  height: auto;
}

.logo-name span,
.course h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.call-to-action a,
.courses-desktop h2,
.thesis-exhibits-desktop h2 {
  text-align: center;
}

.main-article blockquote,
.exhibits blockquote {
  line-height: 1.4;
}

.banner p,
.campus-info p,
.exhibits p {
  line-height: 1.3;
}

.header-mobile,
.banner-image-mobile,
.campus-info .image-container .mobile-image,
.courses-mobile,
.thesis-exhibits-mobile {
  display: none;
}

/* Header (Desktop at Full Size) */

.header-desktop {
  position: fixed;
  z-index: 10;
  height: 4rem;
  padding: 0 1.5rem;
  box-shadow: 0 2px 2px #CEC8DE;
}

.logo-name,
.menu a,
.menu div {
  height: 100%;
}

.logo-name img {
  height: 3.5em;
  width: auto;
  padding-top: 4px;
}

.logo-name span {
  font-size: 1.75em;
}

.menu a {
  font-size: 1.425em;
}

.menu div {
  width: 0.5rem;
  margin: 0 0.25em;
}

/* Banner (Desktop at Full Size) */

.banner img {
  padding: 2rem 1.5rem;
  height: auto;
  align-self: flex-start;
}

.call-to-action {
  width: 35%;
}

.banner h1 {
  font-size: 3.656em;
  margin-bottom: 0.75em;
}

.banner p {
  font-size: 1.95em;
  margin-bottom: 1.25em;
}

.call-to-action a {
  letter-spacing: 1px;
  font-size: 1.75em;
  display: inline-block;
  padding: 0.203em 0;
  border-top: 4px solid #2AD142;
  border-bottom: 4px solid #2AD142;
  border-left: 8px solid #5A38A3;
  border-right: 8px solid #5A38A3;
  border-radius: 0.125em;
  transition: background-color 0.4s;
}

.call-to-action a:hover {
  background-color: #5A38A3;
  border-right: 8px solid #2AD142;
  border-left: 8px solid #2AD142;
}

/* Information (Desktop at Full Size) */

.main-article {
  padding: 2rem 1.5rem 3rem 1.5rem;
}

.main-article h3 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2.75em;
}

.main-article p {
  font-size: 1.5em;
}

.main-article blockquote {
  margin-bottom: 1.5rem;
  font-size: 1.4em;
}

.campus-info {
  padding-right: 1.5rem;
  border-left: 2px solid #EDE9F7;
  border-bottom: 2px solid #EDE9F7;
}

.campus-info .image-container {
  width: 35%;
}

#orientation {
  padding-top: 1rem;
}

.info-text {
  width: 65%;
  padding: 0.5rem 0;
}

.campus-info h4 {
  font-size: 2em;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}

.campus-info p {
  margin: 0.5rem 0 0.75rem 0;
  font-size: 1.25em;
}

.campus-info a {
  font-size: 1.25em;
  width: auto;
}

/* Courses (Desktop at Full Size) */

.courses-desktop h2 {
  padding-top: 2rem;
  font-size: 3rem;
}

ul.courses-list {
  margin: 1rem 3.5rem 0 3.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
}

.course {
  width: 33.33%;
  background-clip: content-box;
}

.course-description {
  margin: 1rem 1rem 1.5rem 1rem;
}

.course h3 {
  font-size: 2.1em;
}

.course h4 {
  font-size: 1.2em;
  margin: 1rem 0 0.5rem 0;
}

.course p {
  font-size: 1.4em;
  line-height: 1.35;
}

/* Thesis Exhibits (Desktop at Full Size) */

.thesis-exhibits-desktop {
  margin-bottom: 3rem;
}

.thesis-exhibits-desktop h2 {
  padding: 2rem 0;
  font-size: 3rem;
}

.main-exhibit {
  padding: 0 1.5rem;
}

.main-exhibit h3 {
  margin: 1.5rem 0 0.5rem 0;
  font-size: 2.5em;
}

.main-exhibit blockquote {
  font-size: 1.25em;
}

.video-container {
  border: 3px outset #EDE9F7;
}

.exhibit {
  padding-right: 1.5rem;
}

.exhibit .image-container {
  width: 35%;
}

.exhibit-description {
  width: 65%;
}

.more-exhibits h4 {
  font-size: 1.8rem;
  font-family: 'Source Serif Pro', serif;
}

.more-exhibits p {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

/* Footer (Desktop at Full Size) */

footer {
  border-top: 2px solid #EDE9F7;
  padding: 1rem 1.5rem 3rem 1.5rem;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}

.footer-links li {
  padding-left: 1rem;
}

/* Media Queries for Desktop */

@media only screen and (max-width: 1230px) {
  .info-text {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 1198px) {
  .main-article,
  .info-text {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1126px) {
  .banner {
    font-size: 0.897rem;
  }
}

@media only screen and (max-width: 1116px) {
  .main-article {
    font-size: 0.82rem;
  }
  .campus-info {
    font-size: 0.85rem;
  }
  .campus-info p {
    margin: 0.35rem 0 0.5rem 0;
  }
}

@media only screen and (max-width: 1105px) {
  .main-exhibit {
    font-size: 0.95rem;
  }
  .more-exhibits h4 {
    font-size: 1.65rem;
  }
  .more-exhibits p {
    font-size: 1.15rem;
  }
  footer {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1058px) {
  .main-article,
  .campus-info {
    font-size: 0.9rem;
  }
  .main-article {
    padding-right: 0;
  }
  .events-campuses {
    margin-bottom: 3rem;
  }
  .campus-info {
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
    width: 85%;
    border-right: 2px solid #EDE9F7;
    margin: 0 auto;
  }
  .campus-info .image-container .desktop-image {
    display: none;
  }
  .campus-info .image-container .mobile-image {
    display: block;
  }
  .campus-info .image-container,
  .info-text {
    display: block;
    width: 100%;
  }
  .campus-info .image-container {
    padding: 0;
  }
  .campus-info .image-container img {
    width: 100%;
  }
  .info-text,
  #orientation .image-container {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .exhibit-description {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 987px) {
  .banner {
    font-size: 0.769rem;
  }
  .course {
    font-size: 0.85rem;
  }
  .courses-desktop h2,
  .thesis-exhibits-desktop h2 {
    font-size: 42px;
  }
}

@media only screen and (max-width: 940px) {
  .logo-name {
    font-size: 0.857rem;
  }
  .logo-name span:first-child {
    font-size: 23px;
  }
  .menu {
    font-size: 0.833rem;
  }
}

@media only screen and (max-width: 911px) {
  .more-exhibits {
    padding-left: 0.5rem;
  }
  .exhibit,
  .exhibit .image-container,
  .exhibit-description {
    width: 100%;
  }
  .exhibit {
    flex-direction: column;
  }
  .exhibit .image-container {
    padding-right: 0;
  }
  #fisma .image-container {
    padding-top: 0;
  }
  #now-and-then {
    padding-top: 1rem;
  }
  .exhibit .image-container img {
    width: auto;
    max-height: 175px;
  }
  .exhibit-description {
    padding-bottom: 1rem 1rem;
    padding-left: 1rem;
    padding-top: 0;
  }
  .more-exhibits h4 {
    font-size: 1.55rem;
  }
  .more-exhibits p {
    font-size: 1.08rem;
  }
  #fisma {
    background-color: #FFFFFF;
    border-bottom: 2px solid #EDE9F7;
    border-left: 2px solid #EDE9F7;
  }
  #now-and-then {
    border-left: 2px solid #EDE9F7;
  }
}

@media only screen and (max-width: 900px) {
  .main-article {
    font-size: 0.82rem;
  }
  .main-article blockquote {
    font-size: 1.5em;
  }
  .events-campuses {
    margin-left: 1.5rem;
  }
  .campus-info {
    font-size: 0.85rem;
    width: 100%;
    border-right: none;
  }
}

@media only screen and (max-width: 883px) {
  .course {
    width: 50%;
    font-size: 0.83rem;
  }
  .courses-desktop h2,
  .thesis-exhibits-deskop h2 {
    font-size: 40px;
  }
  .main-exhibit {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 848px) {
  .banner {
    font-size: 0.73rem;
  }
}

@media only screen and (max-width: 819px) {
  .banner {
    font-size: 0.69rem;
  }
  .main-article h3 {
    font-size: 2rem;
  }
  .main-article blockquote {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 768px) {
  .logo-name {
    font-size: 0.789rem;
  }
  .logo-name span:first-child {
    font-size: 21.4px;
  }
  .header-desktop {
    padding: 0 0.75rem;
  }
  .menu div {
    width: 0.25rem;
  }
  .banner {
    font-size: 0.625rem;
  }
  .banner h1 {
    margin-bottom: 0.55em;
  }
  .banner p {
    font-size: 1.75em;
  }
  .courses-desktop h2,
  .thesis-exhibits-desktop h2 {
    font-size: 33px;
  }
  .course {
    font-size: 0.8rem;
  }
  .main-exhibit h3 {
    font-size: 30px;
  }
  .main-exhibit blockquote {
    font-size: 18px;
  }
}

@media only screen and (max-width: 729px) {
  .main-article h3 {
    font-size: 1.9rem;
  }
  .main-exhibit {
    padding-right: 0;
  }
  .more-exhibits {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 693px) {
  .banner h1 {
    font-size: 3.4em;
  }
}

/* Media Queries for Mobile */

@media only screen and (max-width: 649px) {
  .header-desktop,
  .banner img,
  .main-article,
  .campus-info .image-container .desktop-image,
  .courses-desktop,
  .thesis-exhibits-desktop,
  .footer-links {
    display: none;
  }
  .header-mobile,
  .banner,
  .banner-image-mobile,
  .call-to-action,
  .campus-info .image-container,
  .campus-info .image-container .mobile-image,
  .info-text,
  .courses-mobile,
  .thesis-exhibits-mobile,
  footer {
    display: block;
  }
  .menu-mobile,
  .banner-image-mobile,
  .call-to-action,
  .events-campuses,
  .campus-info,
  .campus-info .image-container,
  .campus-info .image-container img,
  .info-text,
  .course-mobile a,
  .video-container-mobile {
    width: 100%;
  }
  .menu-mobile,
  #guest-lecture,
  .course-mobile:hover {
    background-color: #FFFFFF;
  }
  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    font-size: 0;
    position: fixed;
    z-index: 10;
    box-shadow: 0 2px 2px #CEC8DE;
  }
  .header-mobile img {
    height: 3rem;
    width: auto;
  }
  .banner {
    font-size: 0.641rem;
  }
  .banner-image-mobile {
    background: url("../images/banner.jpg") 50% 0%/cover no-repeat;
    height: 20rem;
  }
  .call-to-action {
    padding: 2rem 1rem;
  }
  .call-to-action h1 {
    font-size: 3rem;
  }
  .call-to-action p {
    font-size: 1.5rem;
    margin: 2rem 0 1.5rem 0;
  }
  .call-to-action a {
    font-size: 1.5rem;
  }
  .events-campuses {
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .campus-info {
    flex-direction: column;
    padding: 1rem;
    border: none;
  }
  .campus-info .image-container {
    padding: 0;
  }
  .info-text {
    font-size: 1rem;
    padding-top: 1rem;
  }
  #orientation .image-container {
    padding-top: 0;
  }
  .courses-mobile {
    padding: 2rem 1rem;
    border: 1px solid #EDE9F7;
  }
  .courses-mobile h2 {
    text-align: center;
    font-size: 2.1rem;
  }
  .courses-list-mobile {
    margin-top: 1.25rem;
    padding: 0.25rem 0;
    background-color: #2AD142;
  }
  .course-mobile {
    margin: 0.25rem 0;
    background-color: #EDE9F7;
  }
  .course-mobile:first-child {
    margin-top: 0;
  }
  .course-mobile:last-child {
    margin-bottom: 0;
  }
  .course-mobile a {
    display: inline-block;
    height: 100%;
    padding: 1rem 1rem 1.5rem 1rem;
    font-size: 1.6rem;
  }
  .thesis-exhibits-mobile h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
  }
  .video-container-mobile {
    display: flex;
    font-size: 0;
    border: 2px outset #EDE9F7;
    margin-bottom: 2rem;
  }
  footer {
    padding: 1rem;
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 480px) {
  .banner h1 {
    font-size: 2.5rem;
  }
  .banner p,
  .banner a {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 363px) {
  .campus-info {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 307px) {
  .banner h1 {
    font-size: 2rem;
  }
  .banner p,
  .banner a {
    font-size: 1.15rem;
  }
}
